.App {
  text-align: center;
}

.space {
  padding-top: 15px;
}

.btn.btn-success.custom {
  width: 200px;
  height: 50px;
}

.btn.btn-danger.custom {
  width: 200px;
  height: 50px;
}

.columnButton {
  font-weight: 600px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.columnButton:hover {
  border-radius: 10px 10px;
  color: white;
  background-color: red;
}

.row.custom {
  margin-top: 20px;
  margin-bottom: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
